@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
  width: 100%;
  background-image: url("../Imagenes/Netflix-Background.jpg");
}
div.header{
  display: flex;
}
img.logo{
  margin-left: 12%;
  margin-top: 12%;
}
.h3titulo{
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: none;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
h3{
  font-family: 'Muli', sans-serif;
  color: #000;
  font-weight: bold;
  color: red;
  font-size: 60px;
  text-shadow: 2px 2px 1px #000;
}
p{
  color:white;
}
.btn.btn-danger.dropdown-toggle{
  margin: 1px 1px 1px;
  margin-bottom: 2px;
}
.btn-group.dropleft{
  width: 200%;
}
.btn-group.dropright{
  width: 200%;
}
/* Menu de botones a la izquierda */
.form-inline{
  margin-left: 35%;
}
div.menu{
margin-left: 35%;
  width: 15%;
}
a{
  color: black;
  text-decoration: none;
  background-color: transparent;
}

div.dropdown-menu{
  text-align: center;
  background-color: grey;
  color:white;
}

#boton{
  background-color: white;
}

button#boton.btn.btn-outline-success {
color:#dc3545;
border-color: #dc3545;
padding-right: 6px 12px;
margin: 10px;
}
button#boton.btn.btn-outline-success:hover {
color: white;
border-color:#dc3545;
padding-right: 6px 12px;
margin: 10px;
background-color: #dc3545;
}
