/*.form-control{
  margin-left: 50px;
  margin-right: 30px;
}

#postflixlogo{
  margin-top: 24px;
  margin-left: 20px;
}*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.btn-outline-success {
    color: #dc3545;

    box-shadow: pink;
    border-color: #dc3545;
  }
  #botonRojo{
    color: red;
    text-decoration: none;
    border-color: red;
    box-shadow: pink;
  }
  #posteador{
    width: 100px;
  }
  .btn-outline-success:hover {
      color: #dc3545;

      background-color: white;
      border-color: red;
      box-shadow: pink;
    }
    .btn-outline-success:active{
    color: white;
    background-color:black;
    border-color: red;

    box-shadow: pink;
  }
    .btn-outline-success:focus {
        color: #dc3545;
        border-color: #dc3545;
        background-color: black;
        border-color: red;
        box-shadow: pink;
      }

h1{
  font-family: 'Muli', sans-serif;
  color: #000;
  font-weight: bold;
  color: red;
  font-size: 35px;
  text-shadow: 2px 2px 1px #000;
}


.h3titulo{
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: none;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
h3{
  font-family: 'Muli', sans-serif;
  color: #000;
  font-weight: bold;
  color: red;
  font-size: 40px;
  text-shadow: 2px 2px 1px #000;
}
#postflixlogo{
  margin-top: 24px;
}
#navbarCollapse{
  margin-left: 15px;
}
#middletitle{
  margin-top: 7%;
  background-image: url(proyecto-integral-master/Imagenes/fondo perfil.jpg);

}
.sidebar-sticky{
  margin-top: 40%;
  height:700px;
}
.nav-link{
  color: white;
}
#cuerpo{
  background-image: url(proyecto-integral-master/Imagenes/fondo perfil.jpg);
}
#minititle{
  padding-top: 20px;
}
.mis-contactos{
  color: grey;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
