
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
 .btn-outline-success:not(:disabled):not(.disabled):active{
   color: white;
   background-color: pink;
   box-shadow: 10 10 10 10 #dc3545;
   border-color: #dc3545;
 }
.btn-outline-success {
    color: #dc3545;

    border-color: #dc3545;
  }
  body{
    background-color: beige;
  }
  #botonRojo{
    color: #dc3545;
    text-decoration: none;
    border-color: #dc3545;
  }
  #botonRojo:hover{
    color: white;
    text-decoration: none;
    border-color: #dc3545;
    background-color: #dc3545;
  }
  #grupobotones{
    justify-content: center;
  }
  .card {
    align-items: center;
  }
  #posteador{
    width: 100%;
    max-height: 400px;
    justify-content: center;
  }
  .btn-outline-success:hover {
        background-color: #dc3545;
      border-color: red;
    }
    .btn-outline-success:active{
    color: white;
    background-color:black;
    border-color: red;
  }
    .btn-outline-success:focus {
        color: #dc3545;
        border-color: #dc3545;
        background-color: black;
        border-color: red;
        box-shadow: pink;
      }

h1{
  font-family: 'Muli', sans-serif;
  color: #000;
  font-weight: bold;
  color: red;
  font-size: 35px;
  text-shadow: 2px 2px 1px #000;
}

.h3titulo{
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: none;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
h3{
  font-family: 'Muli', sans-serif;
  color: #000;
  font-weight: bold;
  color: red;
  font-size: 40px;
  text-shadow: 2px 2px 1px #000;
}
#postflixlogo{
  margin-top: 20px;
}
#navbarCollapse{
  margin-left: 15px;
}
#middletitle{
  margin-top: 7%;
  background-image: url(proyecto-integral-master/Imagenes/fondo perfil.jpg);

}
div.row{
  justify-content: center;
}
img{
  width: 70%;
}
}
.sidebar-sticky{
  margin-top: 40%;
  height:700px;
}
.nav-link{
  color: white;
}
#cuerpo{
  background-image: url(proyecto-integral-master/Imagenes/fondo perfil.jpg);
}
#minititle{
  padding-top: 20px;
}
h5{
  text-align: center;
}
