@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body{
  width: 100%;
}
/* boton de cerrar sesion */
/*  */
button#search.btn:focus {
        color: #dc3545;
        border-color: #dc3545;
        background-color: black;
        border-color: red;
        box-shadow: 0 0 0 0.2rem #dc3545;

      }
#search .btn-outline-success {
    color: #dc3545;
    border-color: #dc3545;

    box-shadow: pink;
  }
#search .btn-outline-success:hover {
      color: #dc3545;
      border-color: #dc3545;
      background-color: white;
      border-color: red;
      box-shadow: pink;
    }
#search .btn-outline-success:active{
    color: white;
    background-color:#dc3545;
    border-color: red;

    box-shadow: pink;
  }
#search .btn-outline-success:focus {
        color: #dc3545;
        border-color: #dc3545;
        background-color: white;
        border-color: red;
        box-shadow: 0 0 0 0.2rem #dc3545;

      }
#postflixlogo{
  margin-top: 24px;
  margin-left: 20px;
}

#posteos{
  width: 101%;
  background-color: white;
  margin-top: 6%;
  overflow: hidden;

}
/*  background-image: url("../Imagenes/fondo_perfil.jpg");*/

#unPost{
  margin-bottom: 2%;
  border-style: groove;
  border-color: #dc3545;
  margin-left: 10%;

}
#divflotante{
justify-content: center;
}

.flotar{
  justify-content: center;
  text-align: center;
  margin: auto;

}
.puntua{
  text-align: center;
font-size: 1.5rem;
}
#imagePost{
  max-width: 100%;
  max-height: 900px;;
  justify-content: center;
  margin-top: 5px;

}

#titulos{
  margin-top: 10px;
  text-align: center;
  color:#dc3545;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
p{
  color:black;
  font-family: 'Muli', sans-serif;
  font-size: 1.4rem;
  -webkit-text-stroke: 0.5px grey;
  text-align:center;
  text-align: justify;
}

a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}

/* BARRA DEL COSTADO */
.sidebar-sticky{
  margin-top: 40%;
  height:700px;
}
